# Assignment_1 (Python Basic)

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

Ans 'hello',6 and -87.8 are values rest of them (*,-,/,+) are mathemtical operators(multiplication,subtraction,division and addition respectively)

What is the difference between string and variable?

string is denoted under double quotes like this 'abc'or'a' but variable are like a,b,c , variables can be assigned a value , a variable can be of type string

In [1]:
#let a is a variable name
a='abc'
print(type(a))

<class 'str'>

In [2]:
'abc'='abcd'  #we cannot assign any value to a string

SyntaxError: cannot assign to literal (2083346395.py, line 1)

3. Describe three different data types.

In [6]:
a=3  #data type is integer as we have assigned a int value to it
print("a is of type",type(a))
b=3.0 #data type is float as we have assigned float r decimal value to it
print("b is of type",type(b))
c= 3+4j #data type is complex as we have assigned complex number to it
print("c is of type",type(c))

a is of type <class 'int'>
b is of type <class 'float'>
c is of type <class 'complex'>

4. What is an expression made up of? What do all expressions do?

expression is made up of operators and operands , all expression calculate the values using the operators precedence defined in expression

In [7]:
a = 3+4  #addition of two numbers #constant expression
print(a)

b= (3+4)*2  ##operator precedence
print(b)

7
14

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

expression calculates the result using the operators by considering operator precedence defined they always return a value on the other hand statement does no return a value eg- def, import

In [10]:
import logging #it is a statement
spamm = 8+2 #this is a expression
print(spamm)

10

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

bacon will return 22 only as we have not done any assignment to it like we should do bacon+=1 to return 23

7. What should the values of the following two terms be?
'spam'+'spamspam'
'spam'* 3

'spamspamspam' and 'spamspamspam' will be the values respectively

8. Why is eggs a valid variable name while 100 is invalid?

eggs are valid because variable names can be started using any alphabets, words but not using any integer, underscores,special characters or operators in python that's why 100 is not considered a valid variable name

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int #to get a integer value
float #to get a floating point value
str #to get a string value

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

as 99 is int and you cannot concatenate int to string that is why this is causing error but you can fix it while enclosing 99 in double/single quotes

In [17]:
print('Ihave eaten'+"99"+'buritos.')

Ihave eaten99buritos.